html, body {
    margin-bottom: 40px;
}    
ul{
    padding:0px;
    text-align: center;
}
ul.breadcrumb li {
    margin: 2px;
    padding: 4px;
}
footer nav{
    display:none;
} 
.pagesize{
    width:100%;
    margin: 0 auto;
}
footer{
    height:40px;
    position:fixed;
    bottom:0px;
}
@media screen and (min-width: 460px) {
    html, body {
        min-height: 100%;
        margin-bottom: 80px;
    }
    .column{
        float:left;
        width:28%;
        margin: .5%;
    }
    .main-col{
        width:40%
    }
    header nav{
        float:right;
    }
    h1{
        display: inline;
    }
    ul.breadcrumb li {
        display: inline;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "|\00a0";
    }
    ul.breadcrumb li,ul.breadcrumb li:hover {
        background: none;   
    }
    footer nav{
        display:initial;
    }
    footer{
        height: 80px;
    }
}
@media screen and (min-width: 989px) {
    .pagesize{
        width:990px;
        margin: 0 auto;
    }
}