/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mar-2017, 19:38:02
    Author     : LENOVO
*/
html{
    background-color: whitesmoke;
}
html, body {
  min-height: 100%;
  margin-bottom: 80px;
}
.pagesize{
    width:990px;
    margin: 0 auto;
}
#mainImage{
   height: 340px;
}
footer{
    text-align: center;
    position:fixed;
    bottom:0px;
    background-color: lightgray;
    height: 80px;
}
ul.breadcrumb li {
    display: inline;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "|\00a0";
}
header nav{
    float:right;
}
.column{
    float:left;
    width:28%;
    margin: .5%;
}
.main-col{
    width:40%
}
.red{
    color:red;
}
img{
    width: 100%;
}
.boxmodel{
    background-color: pink;
    border: 2px solid black;
    margin-bottom: 10px;
}
h1{
    display: inline;
}
h3{
    color:cornflowerblue;
}

h4{
    color: greenyellow;
}

h5{
    color: crimson;
}
.active{
    text-decoration: none;
    color:black;
}
.wo-under{
    text-decoration: none;
}
@media screen and (max-width: 989px) {
    .pagesize{
    width:100%;
    margin: 0 auto;
    }
}

@media Screen and (max-width:460px){
    ul{
        padding:0px;
        text-align: center;
        
    }
    ul.breadcrumb li {
    display:block;
    margin: 2px;
    padding: 4px;
    background-color:lightgray;
    }
    ul.breadcrumb li:hover{
        background-color: gray;
    }
    ul.breadcrumb li+li:before {
    padding: 0px;
    content:"";
    }
    header nav{
    float:none;
    display:block;
    width:100%;
    }
    footer{
        height:40px;
    }
    footer nav{
        display:none;
    }
    .column{
        width:100%;
    }
}
