html{
    background-color: whitesmoke;
}
footer{
    text-align: center;
    background-color: lightgray;
}
span{
    color:red;
}
h3{
    color:cornflowerblue;
}
h4{
    color: greenyellow;
}
img{
    width: 100%;
}

#mainImage{
    height: 340px;
}
h5{
    color: crimson;
}nav ul li:first-child a{
    text-decoration: none;
    color:black;
}
.boxmodel a:last-child{
    text-decoration: none;
}
.boxmodel{
    background-color: pink;
    border: 2px solid black;
    margin-bottom: 10px;
}
@media Screen and (max-width:460px){
    
        ul.breadcrumb li {
        background-color:lightgray;
    }
    ul.breadcrumb li:hover{
        background-color: gray;
    }
    
}